<div class="screen">
  <input type="checkbox" id="menu" [(ngModel)]="menu">
  <div class="coverImage"></div>
  <div class="bodyPlayer"></div>
  <table class="list">
    <tr class="song" *ngFor="let item of music; let i = index" [ngClass]="{'active': i === current}" (click)="run(i)">
      <td>{{ i + 1 }}</td>
      <td class="title">{{item}}</td>
    </tr>
  </table>
  <div class="shadow"></div>
  <progress class="bar"(click)="goTo($event)" max="100" [value]="progress"></progress>
  <h4 class="info">{{ music[current] }}</h4>
  <audio id="audio" preload="auto" controls (ended)="repeat ? run(current, true) : run(current + 1, true)" (timeupdate)="timeupdate()" #audio></audio>
  <table class="player">
    <td>
      <i class="control fa fa-backward" (click)="run(current - 1)"></i>
    </td>
    <td>
      <i [ngClass]="{'control fa': true, 'fa-play': audio.paused, 'fa-stop': !audio.paused}" (click)="audio.paused ? audio.play() : audio.pause()"></i>
    </td>
    <td>
      <i class="control fa fa-forward" (click)="run(current + 1)"></i>
    </td>
  </table>
  <table class="footer">
    <td>
      <input type="checkbox">
      <i [ngClass]="{'control fa fa-undo': true, 'checked': shuffle}" (click)="run(current)"></i>
    </td>
    <td>
      <input type="checkbox" [(ngModel)]="shuffle">
      <i [ngClass]="{'control fa fa-random': true, 'checked': shuffle}" (click)="shuffle = !shuffle"></i>
    </td>
    <td>
      <input type="checkbox" [(ngModel)]="repeat">
      <i [ngClass]="{'control fa fa-retweet': true, 'checked': repeat}" (click)="repeat = !repeat"></i>
    </td>
    <td>
      <input type="checkbox">
      <i class="control fa fa-bars" (click)="menu = !menu"></i>
    </td>
  </table>
  <div class="current">
    <i class="control fa fa-bars" (click)="menu = !menu"></i>
  </div>
</div>